$hamburger-padding-x           : 15px;
$hamburger-padding-y           : 15px;
$hamburger-layer-width         : 40px;
$hamburger-layer-height        : 4px;
$hamburger-layer-spacing       : 6px;
$hamburger-layer-color         : $spruce;
$hamburger-layer-border-radius : 4px;
$hamburger-hover-opacity       : 0.7;

$hamburger-types: (
  collapse
)