.hamburger {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  &:focus {
    outline: none;
  }
}
.hamburger-label {
  margin: 5px 0 0;
  position: relative;
  font-size: 0.8em;
}