@import url('https://fonts.googleapis.com/css?family=Montserrat:700,800&display=swap');

html {
  font-family: 'Tofino-Wide-Book', sans-serif;
  font-style: normal;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  color: $black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.875; // 30px
  font-size: 1em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.75;
  margin: 0;
  padding: 0;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-family: 'Tofino-Wide-Black', sans-serif;
  font-weight: 800;
  font-size: 1.875rem; // 30px
  letter-spacing: 0.25rem; // 4px
  margin-bottom: 1.25rem; // 20px

  @media (min-width: $tablet) {
    font-size: 2.2375rem; // 38px
    letter-spacing: 0.5rem; // 8px
  }
}

h2, .h2 {
  font-family: 'Tofino-Wide-Black', sans-serif;
  font-weight: 800;
  font-size: 1.375rem; // 22px
  letter-spacing: 0.21875rem; // 3.5px
  margin-bottom: 1.25rem; // 20px

  @media (min-width: $tablet) {
    font-size: 1.75rem; // 28px
    letter-spacing: 0.21875rem; // 3.5px
  }
}

h3, .h3,
h4, .h4,
h6, .h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h3, .h3 {
  font-size: 0.875rem; // 14px
  text-transform: uppercase;
  letter-spacing: 0.25rem; // 4px
  margin-bottom: 1.25rem; // 20px

  strong {
    color: $coral;
  }
}

h4, .h4 {
  font-size: 1.125rem; // 18px
  text-transform: uppercase;
  letter-spacing: 0.0625rem; // 1px
  margin-bottom: 1.25rem; // 20px
}

h5, .h5 {
  font-family: 'Tofino-Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.25rem; // 20px
  text-transform: uppercase;
  letter-spacing: 0.1875rem; // 3px
  margin-bottom: 1.25rem; // 20px
}

h6, .h6 {
  font-size: 0.625rem; // 10px
  text-transform: uppercase;
  letter-spacing: 0.125rem; // 2px
  margin-bottom: 1.25rem; // 20px
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem; // 20px
}

p a {
  color: $coral;

  &:hover {
    color: $darkcoral;
  }
}

.button {
  display: inline-block;
  background-color: $coral;
  border: 0;
  border-bottom: 4px solid $darkcoral;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 0.625rem; // 10px
  text-transform: uppercase;
  letter-spacing: 0.125rem; // 2px
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1.5rem 0.6rem;
  cursor: pointer;
  transition: background-color 250ms ease, border 250ms ease;
  &:disabled {
    background: $gray300;
    cursor: default;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $darkcoral;
    border-bottom: 4px solid $coral;
  }
}