@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap');

html {
  // font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
  color: $black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 0.875em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1, .h1 {
  font-size: 2.2375rem; // 38px
  text-transform: uppercase;
  letter-spacing: 0.5rem; // 8px
  margin-bottom: 1.25rem; // 20px
}

h2, .h2 {
  font-size: 1.5rem; // 24px
  text-transform: uppercase;
  letter-spacing: 0.25rem; // 4px
  margin-bottom: 1.25rem; // 20px
}

h3, .h3 {
  font-size: 1.625rem; // 26px
  margin-bottom: 1.25rem; // 20px

  strong {
    color: $coral;
  }
}

h4, .h4 {
  font-size: 1.125rem; // 18px
  text-transform: uppercase;
  letter-spacing: 0.0625rem; // 1px
  margin-bottom: 1.25rem; // 20px
}

h5, .h5 {
  font-size: 1.25rem; // 20px
  text-transform: uppercase;
  letter-spacing: 0.1875rem; // 3px
  margin-bottom: 1.25rem; // 20px
}

h6, .h6 {
  font-size: 0.625rem; // 10px
  text-transform: uppercase;
  letter-spacing: 0.125rem; // 2px
  margin-bottom: 1.25rem; // 20px
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem; // 20px
}

.button {
  background-color: $lightcoral;
  border: 0;
  border-bottom: 4px solid $coral;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  color: $white;
  font-family: "LT Tofino Wide", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 0.625rem; // 10px
  text-transform: uppercase;
  letter-spacing: 0.125rem; // 2px
  text-decoration: none;
  padding: 0.8rem 1.5rem 0.6rem;
  cursor: pointer;
  transition: background-color 250ms ease, border 250ms ease;
  &:disabled {
    background: $grey300;
    cursor: default;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: $coral;
    border-bottom: 4px solid $lightcoral;
  }
}

.section__title {
  text-align: center;
  padding: 2rem;

  @media (min-width: $mobile) {
    padding: 80px 0 50px;
  }
}