$white: #ffffff;
$black: #262626;
$cream: #f9f9f9;
$almond: #f1eee7;
$gray200: #f4f7f6;
$gray300: #e0e4e3;
$gray500: #7c7c7c;
$gray800: #333;
$teal: #a8dcd1;

$coral: #E16F56;
$lightcoral: #F08A7C;
$sage: #b6cec3;
$lightsage: #9db9b1;
$spruce: #384A45;
$dusk: #857E8C;
$lightdusk: #9196A7;

.coral {
  color: $coral;
}
.coral-bg {
  background-color: $coral;
}
.lightcoral {
  color: $lightcoral;
}
.lightcoral-bg {
  background-color: $lightcoral;
}
.dusk {
  color: $dusk;
}
.dusk-bg {
  background-color: $dusk;
}
.lightdusk {
  color: $lightdusk;
}
.lightdusk-bg {
  background-color: $lightdusk;
}
.lightsage {
  color: $lightsage;
}
.lightsage-bg {
  background-color: $lightsage;
}
.sage {
  color: $sage;
}
.sage-bg {
  background-color: $sage;
}
.spruce {
  color: $spruce;
}
.spruce-bg {
  background-color: $spruce;
}
.white {
  color: $white;
}
.white-bg {
  background-color: $white;
}
.cream {
  color: $cream;
}
.cream-bg {
  background-color: $cream;
}
.almond {
  color: $almond;
}
.almond-bg {
  background-color: $almond;
}

$mobile: 650px;
$tablet: 768px;
$desktop: 1024px;
$large: 1200px;
$huge: 1440px;