$white: #ffffff;
$grey200: #f4f7f6;
$grey300: #e0e4e3;
$grey500: #7c7c7c;
$grey800: #333;
$teal: #a8dcd1;

$coral: #E16F56;
$lightcoral: #F08A7C;
// $sage: #889891;
$sage: #86a99a;
// $lightsage: #A7B9B4;
$lightsage: #9db9b1;
$dusk: #857E8C;
$lightdusk: #9196A7;